<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rediriger vers public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
</IfModule>